<div class="md:container md:mx-auto">
  <div class="text-center gap-2">
    <div>
      <h1 class="text-3xl">Portafolio</h1>
    </div>
    <div class="py-3">
      Conoce algunos de los proyectos que se an realizado en MAD CORS JS.
    </div>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-2">
    <div>
      <div class="card card-compact w-70 bg-base-100 shadow-xl hover:bg-gray-50 hover:translate-y-1">
        <figure><img src="../../../../assets/img/fondo.jpeg" alt="Shoes" /></figure>
        <div class="card-body">
          <h2 class="card-title">Proyecto-01</h2>
          <p>If a dog chews shoes whose shoes does he choose?</p>
          <div class="card-actions justify-end">
            <button class="btn btn-primary">VER</button>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="card card-compact w-70 bg-base-100 shadow-xl hover:bg-gray-50 hover:translate-y-1">
        <figure><img src="../../../../assets/img/fondo.jpeg" alt="Shoes" /></figure>
        <div class="card-body">
          <h2 class="card-title">Proyecto-2</h2>
          <p>If a dog chews shoes whose shoes does he choose?</p>
          <div class="card-actions justify-end">
            <button class="btn btn-primary">VER</button>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="card card-compact w-70 bg-base-100 shadow-xl hover:bg-gray-50 hover:translate-y-1">
        <figure><img src="../../../../assets/img/fondo.jpeg" alt="Shoes" /></figure>
        <div class="card-body">
          <h2 class="card-title">Proyecto-03</h2>
          <p>If a dog chews shoes whose shoes does he choose?</p>
          <div class="card-actions justify-end">
            <button class="btn btn-primary">VER</button>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="card card-compact w-70 bg-base-100 shadow-xl hover:bg-gray-50 hover:translate-y-1">
        <figure><img src="../../../../assets/img/fondo.jpeg" alt="Shoes" /></figure>
        <div class="card-body">
          <h2 class="card-title">Proyecto-04</h2>
          <p>If a dog chews shoes whose shoes does he choose?</p>
          <div class="card-actions justify-end">
            <button class="btn btn-primary">VER</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>